body {
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Colors : orange, FF9900 FF8800; */

/* Container */
.container-fluid {
  width:90%;
  margin:auto;
}

.container-2 {
  width: 60%;
  margin: auto;
}


/* Brand Image */
a.navbar-brand img {
  width: 30px;
  height: 30px;
}

/* Title Image */
#title div.row img {
  width: 60%;
}

/* Title */
#title {
  background-color: #FFA500;
  color: #FFF;
}

.title-text {
  text-align: left;
}

#title h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
}

#title div.row {
  padding: 5% 0;
}

/* Benefits  */
#benefits {
  padding: 5% 12%;
}

.font-icon {
  font-size: 3.5rem;
  color: #E80;
}

.font-icon:hover {
  color: #F00 ;
}

/* Experts */

#experts {
  background-color: #FF9900;
  color: #FFF;

  /* min-height: 300px; */

  padding: 9% 0 5%;
}

#experts h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

#experts img {
  width: 15%;
  border-radius: 20%;

  margin: 20px;
}

.carousel-inner {
  padding: 0 15%;
}

/* Press */
#press {
  background-color: #FF9900;

  padding: 0 15% 2%;
}

#press img {
  width:20%;
}
/* Information */

#info {
  padding: 5% 20% 8%;
}

#info h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

#accordionInfo {
  margin-top: 40px;
}

/* cta */
#cta {
  background-color: #FF8800;
  color: #FFF;

  padding: 8% 15%;
}

#cta h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

#cta button {
  margin-top: 10px;
}

/* Footer */
#footer {
  margin: 10% 0 2%;
}

.social-icons {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-right: 20px;
}
